<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{admin/layouts/admin-layout}">
<head>
    <meta charset="UTF-8">
    <title>Article Table</title>
</head>
<body>
    <div layout:fragment="main">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Article Table</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>NO</th>
                            <th>Author</th>
                            <th>Title</th>
                            <th>Description</th>
                            <div sec:authorize="hasAnyRole('REVIEWER','ADMIN')">
                                <th>Action</th>
                            </div>

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="article, state : ${articles}" th:object="${article}">
                            <td th:text="${state.count}"></td>
                            <td th:text="*{author}"></td>
                            <td th:text="*{title}"></td>
                            <td th:text="*{description}">hello everyone</td>
                            <div sec:authorize="hasAnyRole('REVIEWER','ADMIN')">
                                <td>
                                    <button type="button" class="btn btn-info">View</button>
                                    <button type="button" class="btn btn-warning">Edit</button>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                </td>
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</body>
</html>